<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 설정은 dtd 참고 -->
<mapper namespace="com.example.backend.member.mapper.MemberMapper">
    <insert id="save" parameterType="member">
        insert into member(user_id, password)
        values (#{userId}, #{password})
    </insert>
</mapper>